@import '../../styles/variables.scss';

button {
    background-color: $purple-color;
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}
