extends ../../components/layout/layout.pug
include ../../components/button/button.pug

block content  
    div.container
        h1 Страница в разработке
block scripts
    script(src='./index.js')   
