@import "../../styles/variables.scss";

.chatlist-container {
  border-right: 3px solid $border-color;
  width: 330px;
  height: 100vh;
  box-sizing: border-box;
}

.chat-container {
  display: flex;
}

.chatlist-header {
  padding-top: 16px;
  border-bottom: 3px solid $border-color;
}

.chats-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-link {
  align-self: flex-end;
  margin-right: 8%;
}

.list-flex {
  display: flex;
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: $light-secondary-text-color;
  }
}

.user-avatar {
  border-radius: 50%;
  width: 47px;
  height: 47px;
  margin-right: 10px;
}

.user-block {
  display: flex;
  flex-direction: column;
  width: 193px;
}

.message {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: $secondary-text-color;
}