.avatar {
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.3;
  }
}

.avatar-block {
  margin-bottom: 100px;
  color: #858585;
}

.user-block-list {
  list-style-type: none;
  width: 400px;
}

.user-block-item {
  border-bottom: 1px solid #2f2f2f;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.user-data {
  color: #858585;
}

.margin {
  margin-bottom: 30px;
}
