@import "../../styles/variables";

.avatar {
  cursor: pointer;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  &:hover {
    opacity: 0.3;
  }
}

.avatar-block {
  margin-bottom: 100px;
  color: $gray-color;
}

.user-block-list {
  list-style-type: none;
  width: 400px;

  span:first-child {
    color: $gray-color;
  }
}

.user-block-item {
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.user-data {
  color: $gray-color;
}

.margin {
  margin-bottom: 30px;
}
