extends ../../components/layout/layout.pug
include ../../components/button/button.pug

block content  
    div.container
        h1 500
        span.text Мы уже фиксим
        a(href="../../index.pug").link вернуться назад
block scripts
    script(src='./index.ts')   