$purple-color: #8774e1;
$error-color: tomato;
$dark-color: #212121;
$border-color: #2f2f2f;
$gray-color: #858585;
$white-color: #fff;
$secondary-text-color: #aaa;
$light-secondary-text-color: rgba(170, 170, 170, 0.08);
