extends ../../../components/layout/layout.pug
include ../../../components/button/button.pug

block content  
  .container
    .avatar-block.flex
      img(src="../../../resources/profile.svg", alt="Аватар").avatar
      span Имя
    ul.user-block-list 
        li.user-block-item.list-item
          span Старый пароль
          input(type="password" value="12345678").input.change-input
        li.user-block-item.list-item
          span Новый пароль
          input(type="password" value="12345678").input.change-input
        li.user-block-item.list-item
          span Повторите новый пароль
          input(type="password" value="12345678").input.change-input    
    .wrapper-links.flex 
      +button("Сохранить", "button")  
      a(href="../profile.pug").link Вернуться назад 
block scripts
    script(src='../../../components/button')                 