@import "./styles/variables.scss";

body {
  background-color: $dark-color;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  padding-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background-color: $dark-color;
  margin-bottom: 20px;
  padding: 10px 100px 10px 10px;
  border-radius: 10px;
  border: 1px solid #2f2f2f;
}

.link {
  color: $purple-color;
}

.main-link {
  font-size: 25px;
  margin-bottom: 30px;
  text-decoration: none;
}

.error {
  color: $error-color;
  font-size: 12px;
}
