extends ./components/layout/layout.pug

block content
    div.container
        h1 Ссылки на реализованные страницы
        a(href="./pages/login/login.pug").link.main-link Вход 
        a(href="./pages/registration/registration.pug").link.main-link Регистрация
        a(href="./pages/profile/profile.pug").link.main-link Профиль     
        a(href="./pages/404/404.pug").link.main-link 404
        a(href="./pages/500/500.pug").link.main-link 500
        a(href="./pages/chat/chat.pug").link.main-link Чат
